@charset "utf-8";

/* 非表示 */
.u-border--hidden {
	border-width: 0;
}

/* ブロックエレメントの中央寄せ */
.u-align--center {
	width: fit-content;
	margin: 0 auto;
}

/* ブロックエレメントの右寄せ */
.u-align--right {
	margin-left: auto;
}

/* インラインエレメントの中央寄せ */
.u-text-align--center {
	text-align: center;
}

/* インラインエレメントの右寄せ */
.u-text-align--right {
	text-align: right;
}

.u-list-style--none {
	list-style-type: none;
}

/* フォントスタイルの斜体 */
.u-font-style--italic {
	font-style: italic;
}

.u-text--error {
	color: tomato;
}