<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン - 顧客管理システム</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

	<header class="header">
		<h1 class="header__title">顧客管理システム</h1>
		<nav class="header__navigator">
			<ol class="navigator__list">
				<li class="navigator__item"><a class="navigator__link" href="#">取引先</a></li>
				<li class="navigator__item"><a class="navigator__link" href="#">担当者</a></li>
			</ol>
			<form class="navigator__form" action="/logout" method="post">
				<button class="form__button form__button--logout">ログアウト</button>
			</form>
		</nav>
	</header>
	
	<main class="main">
		<article class="main__wrapper">
			<form class="form" action="/login" method="post">
				<fieldset class="form__field-list">
					<legend class="form__title">ログイン</legend>
					<div class="form__field-item">
						<label class="form__label">メールアドレス</label>
						<input class="form__input--text" type="email" name="email" />
					</div>
					<div class="form__field-item">
						<label class="form__label">パスワード</label>
						<input class="form__input--text" type="text" name="password" />
					</div>
					<div class="form__field-item">
						<button class="form__button--login">ログイン</button>
						<a class="form__link" href="/auth/signup">ユーザ新規登録</a>
					</div>
				</fieldset>
			</form>
		</article>
	</main>

	<footer class="footer">
		<div class="footer__body u-font-style--italic">&copy;2024&nbsp;&nbsp;Java新人研修 &nbsp; ── &nbsp; Office HOGE.</div>
	</footer>
</body>
</html>