@charset "utf-8";
@use "../common/" as common;

// /**
//  * 入力部品ラベルの基本スタイル
//  */
@mixin set-default-input-label-style() {
	@include set-default-input-style();
	display: inline-block;
}

// /**
//  * ボタンのの基本スタイル
//  * @param $border-width 枠線の幅：デフォルト値は0.5px
//  */
@mixin set-default-button-style($border-width: 0.5px) {
	@include set-default-input-style();
  display: inline-block;
	width:  common.calcSizeByScale(6.0);
	border-width: $border-width;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; // 文字の下線を非表示
}

// /**
//  * 入力部品の基本スタイル
//  */
@mixin set-default-input-style() {
	@include common.clear-box-model();
	padding: common.calcSizeByScale(0.250) 0;
}

// /**
//  * メッセージの基本スタイル
//  */
@mixin set-message-style() {
	@include common.clear-box-model();
	width: fit-content;
	margin: common.calcSizeByScale(0.75) auto;
}

/* 入力部品の基本スタイル */
.form {
	width: common.calcSizeByScale(31.0);
	margin: 0 auto;
	padding: common.calcSizeByScale(2.25) common.calcSizeByScale(5.0);

	// legendタグのスタイル
	&__title {
		font-size: common.calcSizeByScale(1.25);
		font-weight: bold;
		text-align: center;
	}

	// 入力部品領域のスタイル
	&__field {
		// 入力部品リストのスタイル
		&-list {
			border-width: 0;
		}
		// 入力9部品単位のスタイル
		&-item {
			margin: common.calcSizeByScale(0.125) 0;
			// ［ログイン］ボタンが含まれた単位のスタイル
			&:last-child {
				width: fit-content;
				margin: common.calcSizeByScale(1.00) auto;
			}
		}
	}
	
	// 入力部品項目名のスタイル
	&__label {
		@include set-default-input-label-style();
		width: common.calcSizeByScale(7.5);
		font-weight: bold;
		&::after {
			content:none;
		}
	}
	
	// 入力部品本体のスタイル
	&__input {
		// テキストボックスのスタイル
		&--text {
			width: common.calcSizeByScale(20.0);
			&::placeholder {
				color: gainsboro;
			}
			// 幅がデフォルトの半分のテキストボックス
			&-half {
				width: common.calcSizeByScale(10.0);
			}
		}
	}

	// リンクのスタイル
	&__link {
		margin-left: common.calcSizeByScale(1.25);
	}

	// メッセージのスタイル
	&__message {
		@include set-message-style();
		&--error {
			// エラーメッセージのスタイル
			@include set-message-style();
			color: common.$accent-color--error;
			list-style-type: none;
		}
	}

	&__select {
		&--unfit-content {
			width: common.calcSizeByScale(10.5);
		}
	}

	&__button {
		&--login {
			@include set-default-button-style();
			box-shadow: 1.5px 1.5px 0 dimgray; // 影の太さ・色
			&:active {
				box-shadow: 0.5px 0.5px 0 dimgray; // 影の太さ・色
			}
		}
		&--logout {
			@include set-default-button-style();
		}
		&--modify {
			@include set-default-button-style($border-width: 0);
			color: common.$button-color--fore;
			background-color: common.$button-color--modify;
			box-shadow: 2.5px 2.5px 0 #ca1c30; // 影の太さ・色
			&:active {
				box-shadow: 1.5px 1.5px 0 #ca1c30; // 影の太さ・色
			}
		}
	}

}